<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Shiba Inu</mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      ES UN PERRO SHIBA INU.
    </p>
    <div *ngIf="liked">
      <mat-icon aria-hidden="false" aria-label="Example home icon">favorite</mat-icon>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" class="pbutton">Primary</button>
    <button mat-button (click)="onClickLike()">LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>
